<html>
    <head>
        <title>Midterm Project</title>
    </head>
    <body>
      <p><%= name %>, don't let the world get you down. You are a kind, confident, and smart person.
      You can do it! Believe in yourself!</p>
    </body>
</html>
